<a href="https://colab.research.google.com/github/takuxp/bigdata_study/blob/main/%EA%B8%B0%EC%B6%9C%EC%9C%A0%ED%98%95_4%ED%9A%8C(%EC%9E%91%EC%97%85%ED%98%952).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q. [ÎßàÏºÄÌåÖ] ÏûêÎèôÏ∞® ÏãúÏû• ÏÑ∏Î∂ÑÌôî
- ÏûêÎèôÏ∞® ÌöåÏÇ¨Îäî ÏÉàÎ°úÏö¥ Ï†ÑÎûµÏùÑ ÏàòÎ¶ΩÌïòÍ∏∞ ÏúÑÌï¥ 4Í∞úÏùò ÏãúÏû•ÏúºÎ°ú ÏÑ∏Î∂ÑÌôîÌñàÏäµÎãàÎã§.
- Í∏∞Ï°¥ Í≥†Í∞ù Î∂ÑÎ•ò ÏûêÎ£åÎ•º Î∞îÌÉïÏúºÎ°ú Ïã†Í∑ú Í≥†Í∞ùÏù¥ Ïñ¥Îñ§ Î∂ÑÎ•òÏóê ÏÜçÌï†ÏßÄ ÏòàÏ∏°Ìï¥Ï£ºÏÑ∏Ïöî!


- ÏòàÏ∏°Ìï† Í∞í(y): "Segmentation" (1,2,3,4)
- ÌèâÍ∞Ä: Macro f1-score
- data: train.csv, test.csv
- Ï†úÏ∂ú ÌòïÏãù:
~~~
ID,Segmentation
458989,1
458994,2
459000,3
459003,4
~~~

### ÎãµÏïà Ï†úÏ∂ú Ï∞∏Í≥†
- ÏïÑÎûò ÏΩîÎìú ÏòàÏ∏°Î≥ÄÏàòÏôÄ ÏàòÌóòÎ≤àÌò∏Î•º Í∞úÏù∏Î≥ÑÎ°ú Î≥ÄÍ≤ΩÌïòÏó¨ ÌôúÏö©
- pd.DataFrame({'ID': test.ID, 'Segmentation': pred}).to_csv('003000000.csv', index=False)

### ÎÖ∏Ìä∏Î∂Å Íµ¨Î∂Ñ
- basic: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Îßå ÌôúÏö© -> ÌïôÏäµ Î∞è testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
- intermediate: Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ÎèÑ ÌôúÏö© -> ÌïôÏäµ Î∞è testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
- advanced: ÌïôÏäµ Î∞è ÍµêÏ∞® Í≤ÄÏ¶ù(Î™®Îç∏ ÌèâÍ∞Ä) -> ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù -> testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°

In [81]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

In [82]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("./4ÌöåÍ∏∞Ï∂úÏûëÏóÖÌòï2/train.csv")
test = pd.read_csv("./4ÌöåÍ∏∞Ï∂úÏûëÏóÖÌòï2/test.csv")

# üç≠ basic Îã®Í≥Ñ üç≠  
- Î™©Ìëú: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞ÎßåÏù¥ÎùºÎèÑ ÌôúÏö©Ìï¥ Ï†úÏ∂úÌïòÏûê!!!üëç

## EDA

In [83]:
# Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞ ÌôïÏù∏
print(train.shape)
print(test.shape)

(6665, 11)
(2154, 10)

In [84]:
# train ÏÉòÌîå ÌôïÏù∏
print(train.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  462809    Male           No   22        No  Healthcare              1.0
1  466315  Female          Yes   67       Yes    Engineer              1.0
2  461735    Male          Yes   67       Yes      Lawyer              0.0
3  461319    Male          Yes   56        No      Artist              0.0
4  460156    Male           No   32       Yes  Healthcare              1.0

  Spending_Score  Family_Size  Var_1  Segmentation
0            Low          4.0  Cat_4             4
1            Low          1.0  Cat_6             2
2           High          2.0  Cat_6             2
3        Average          2.0  Cat_6             3
4            Low          3.0  Cat_6             3

In [85]:
# test ÏÉòÌîå ÌôïÏù∏
print(test.head())

       ID  Gender Ever_Married  Age Graduated  Profession  Work_Experience  \
0  458989  Female          Yes   36       Yes    Engineer              0.0
1  458994    Male          Yes   37       Yes  Healthcare              8.0
2  459000    Male          Yes   59        No   Executive             11.0
3  459003    Male          Yes   47       Yes      Doctor              0.0
4  459005    Male          Yes   61       Yes      Doctor              5.0

  Spending_Score  Family_Size  Var_1
0            Low          1.0  Cat_6
1        Average          4.0  Cat_6
2           High          2.0  Cat_6
3           High          5.0  Cat_4
4            Low          3.0  Cat_6

In [86]:
# target ÌôïÏù∏
train.Segmentation.head()

0    4
1    2
2    2
3    3
4    3
Name: Segmentation, dtype: int64

In [87]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏(train)
train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [88]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏(test)
test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [89]:
# type ÌôïÏù∏
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

## Ï†ÑÏ≤òÎ¶¨

In [90]:
# target(y, label) Í∞í Î≥µÏÇ¨
train_target = train.pop('Segmentation')
train_id = train.pop('ID')
print(train_target, train_id)

0       4
1       2
2       2
3       3
4       3
       ..
6660    2
6661    4
6662    4
6663    2
6664    2
Name: Segmentation, Length: 6665, dtype: int64 0       462809
1       466315
2       461735
3       461319
4       460156
         ...
6660    463002
6661    464685
6662    465406
6663    467299
6664    461879
Name: ID, Length: 6665, dtype: int64

In [91]:
# testÎç∞Ïù¥ÌÑ∞ ID Î≥µÏÇ¨
test_id = test.pop('ID')

In [92]:
# ÏàòÏπòÌòï Ïª¨Îüº(train)
cols = ['Age', 'Work_Experience', 'Family_Size']

In [93]:
# ÏàòÏπòÌòï Ïª¨Îüº(test)
test.info()
test_cols = ['Age', 'Work_Experience', 'Family_Size']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154 entries, 0 to 2153
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           2154 non-null   object
 1   Ever_Married     2154 non-null   object
 2   Age              2154 non-null   int64
 3   Graduated        2154 non-null   object
 4   Profession       2154 non-null   object
 5   Work_Experience  2154 non-null   float64
 6   Spending_Score   2154 non-null   object
 7   Family_Size      2154 non-null   float64
 8   Var_1            2154 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 151.6+ KB

## model ÌïôÏäµ Î∞è ÏòàÏ∏°

In [94]:
# Î™®Îç∏ ÏÑ†ÌÉù Î∞è ÌïôÏäµ
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model = rf.fit(train[cols], train_target)
pred = model.predict(test[cols])
pred

array([2, 3, 3, ..., 4, 3, 1])

In [95]:
# ÏòàÏ∏° Í≤∞Í≥º -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
result = pd.DataFrame({
    'ID': test_id,
    'Segmentation': pred
})

In [96]:
result.to_csv('000000.csv', index=False)

# üç≠ intermediate Îã®Í≥Ñ üç≠
- Î™©Ìëú: Î≤îÏ£ºÌòï(Ïπ¥ÌÖåÍ≥†Î¶¨)Îç∞Ïù¥ÌÑ∞ ÌôúÏö©ÌïòÍ∏∞

In [97]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

In [98]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("./4ÌöåÍ∏∞Ï∂úÏûëÏóÖÌòï2/train.csv")
test = pd.read_csv("./4ÌöåÍ∏∞Ï∂úÏûëÏóÖÌòï2/test.csv")

## EDA

In [99]:
# train ÏÉòÌîå ÌôïÏù∏
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,3
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,3

In [100]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [101]:
train.describe(include="O")

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    6665         6665      6665       6665           6665   6665
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     3677         3944      4249       2192           3999   4476

## Ï†ÑÏ≤òÎ¶¨

In [102]:
# ÏõêÌï´ Ïù∏ÏΩîÎî©
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [103]:
# type ÌôïÏù∏
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        6665 non-null   int64
 1   Age                       6665 non-null   int64
 2   Work_Experience           6665 non-null   float64
 3   Family_Size               6665 non-null   float64
 4   Segmentation              6665 non-null   int64
 5   Gender_Female             6665 non-null   bool
 6   Gender_Male               6665 non-null   bool
 7   Ever_Married_No           6665 non-null   bool
 8   Ever_Married_Yes          6665 non-null   bool
 9   Graduated_No              6665 non-null   bool
 10  Graduated_Yes             6665 non-null   bool
 11  Profession_Artist         6665 non-null   bool
 12  Profession_Doctor         6665 non-null   bool
 13  Profession_Engineer       6665 non-null   bool
 14  Profession_Entertainment  6665 non-null   bool
 15  Profession_Executive      6665 non-null   bool
 16  Profession_Healthcare     6665 non-null   bool
 17  Profession_Homemaker      6665 non-null   bool
 18  Profession_Lawyer         6665 non-null   bool
 19  Profession_Marketing      6665 non-null   bool
 20  Spending_Score_Average    6665 non-null   bool
 21  Spending_Score_High       6665 non-null   bool
 22  Spending_Score_Low        6665 non-null   bool
 23  Var_1_Cat_1               6665 non-null   bool
 24  Var_1_Cat_2               6665 non-null   bool
 25  Var_1_Cat_3               6665 non-null   bool
 26  Var_1_Cat_4               6665 non-null   bool
 27  Var_1_Cat_5               6665 non-null   bool
 28  Var_1_Cat_6               6665 non-null   bool
 29  Var_1_Cat_7               6665 non-null   bool
dtypes: bool(25), float64(2), int64(3)
memory usage: 423.2 KB

In [104]:
# target(y, label) Í∞í Î≥µÏÇ¨
target = train.pop('Segmentation')
target

0       4
1       2
2       2
3       3
4       3
       ..
6660    2
6661    4
6662    4
6663    2
6664    2
Name: Segmentation, Length: 6665, dtype: int64

In [105]:
train_id = train.pop('ID')

In [106]:
# testÎç∞Ïù¥ÌÑ∞ ID Î≥µÏÇ¨
test_id = test.pop('ID')

## model ÌïôÏäµ Î∞è ÏòàÏ∏°

In [107]:
# Î™®Îç∏ ÏÑ†ÌÉù Î∞è ÌïôÏäµ
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=2024)
model = rf.fit(train, target)
pred = model.predict(test)
pred

array([2, 3, 3, ..., 2, 3, 4])

In [109]:
# ÏòàÏ∏° Í≤∞Í≥º -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
submit = pd.DataFrame({
    'ID': test_id,
    'Segmentation': pred
})

In [110]:
submit.to_csv("000000-1.csv", index=False)

# üç≠ advanced Îã®Í≥Ñ üç≠
- Î™©Ìëú: ÍµêÏ∞®Í≤ÄÏ¶ù Î∞è ÌèâÍ∞Ä ÌõÑ Ï†úÏ∂úÌïòÍ∏∞

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("./4ÌöåÍ∏∞Ï∂úÏûëÏóÖÌòï2/train.csv")
test = pd.read_csv("./4ÌöåÍ∏∞Ï∂úÏûëÏóÖÌòï2/test.csv")

In [ ]:
# Î≤îÏ£ºÌòï Î≥ÄÏàò

In [ ]:
## label encoding

In [ ]:
## cat.codesÏùò label Ïù∏ÏΩîÎî©ÏùÄ ABC ÏàúÎåÄÎ°ú ÎêòÎäî Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§

In [ ]:
## label encoding

In [ ]:
# ID, target Ï≤òÎ¶¨

In [ ]:
# Î™®Îç∏ ÏÑ†ÌÉù
# ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù: max_depth, n_estimators

In [ ]:
# Î™®Îç∏ ÏÑ†ÌÉù
# ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù: max_depth, n_estimators

In [ ]:
# ÌïôÏäµ

In [ ]:
# ÏòàÏ∏° Í≤∞Í≥º -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ