<a href="https://colab.research.google.com/github/takuxp/bigdata_study/blob/main/%EA%B8%B0%EC%B6%9C%EC%9C%A0%ED%98%95_4%ED%9A%8C(%EC%9E%91%EC%97%85%ED%98%952).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Q. [ÎßàÏºÄÌåÖ] ÏûêÎèôÏ∞® ÏãúÏû• ÏÑ∏Î∂ÑÌôî
- ÏûêÎèôÏ∞® ÌöåÏÇ¨Îäî ÏÉàÎ°úÏö¥ Ï†ÑÎûµÏùÑ ÏàòÎ¶ΩÌïòÍ∏∞ ÏúÑÌï¥ 4Í∞úÏùò ÏãúÏû•ÏúºÎ°ú ÏÑ∏Î∂ÑÌôîÌñàÏäµÎãàÎã§.
- Í∏∞Ï°¥ Í≥†Í∞ù Î∂ÑÎ•ò ÏûêÎ£åÎ•º Î∞îÌÉïÏúºÎ°ú Ïã†Í∑ú Í≥†Í∞ùÏù¥ Ïñ¥Îñ§ Î∂ÑÎ•òÏóê ÏÜçÌï†ÏßÄ ÏòàÏ∏°Ìï¥Ï£ºÏÑ∏Ïöî!


- ÏòàÏ∏°Ìï† Í∞í(y): "Segmentation" (1,2,3,4)
- ÌèâÍ∞Ä: Macro f1-score
- data: train.csv, test.csv
- Ï†úÏ∂ú ÌòïÏãù:
~~~
ID,Segmentation
458989,1
458994,2
459000,3
459003,4
~~~

### ÎãµÏïà Ï†úÏ∂ú Ï∞∏Í≥†
- ÏïÑÎûò ÏΩîÎìú ÏòàÏ∏°Î≥ÄÏàòÏôÄ ÏàòÌóòÎ≤àÌò∏Î•º Í∞úÏù∏Î≥ÑÎ°ú Î≥ÄÍ≤ΩÌïòÏó¨ ÌôúÏö©
- pd.DataFrame({'ID': test.ID, 'Segmentation': pred}).to_csv('003000000.csv', index=False)

### ÎÖ∏Ìä∏Î∂Å Íµ¨Î∂Ñ
- basic: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Îßå ÌôúÏö© -> ÌïôÏäµ Î∞è testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
- intermediate: Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞ÎèÑ ÌôúÏö© -> ÌïôÏäµ Î∞è testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°
- advanced: ÌïôÏäµ Î∞è ÍµêÏ∞® Í≤ÄÏ¶ù(Î™®Îç∏ ÌèâÍ∞Ä) -> ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù -> testÎç∞Ïù¥ÌÑ∞ ÏòàÏ∏°

In [ ]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

# üç≠ basic Îã®Í≥Ñ üç≠  
- Î™©Ìëú: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞ÎßåÏù¥ÎùºÎèÑ ÌôúÏö©Ìï¥ Ï†úÏ∂úÌïòÏûê!!!üëç

## EDA

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÌÅ¨Í∏∞ ÌôïÏù∏
train.shape, test.shape

((6665, 11), (2154, 10))

In [ ]:
# train ÏÉòÌîå ÌôïÏù∏
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,3
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,3

In [ ]:
# test ÏÉòÌîå ÌôïÏù∏
test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
3,459003,Male,Yes,47,Yes,Doctor,0.0,High,5.0,Cat_4
4,459005,Male,Yes,61,Yes,Doctor,5.0,Low,3.0,Cat_6

In [ ]:
# target ÌôïÏù∏
train['Segmentation'].value_counts()

4    1757
3    1720
1    1616
2    1572
Name: Segmentation, dtype: int64

In [ ]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏(train)
train.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [ ]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏(test)
test.isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [ ]:
# type ÌôïÏù∏
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

## Ï†ÑÏ≤òÎ¶¨

In [ ]:
# target(y, label) Í∞í Î≥µÏÇ¨
target = train.pop('Segmentation')
target

0       4
1       2
2       2
3       3
4       3
       ..
6660    2
6661    4
6662    4
6663    2
6664    2
Name: Segmentation, Length: 6665, dtype: int64

In [ ]:
# testÎç∞Ïù¥ÌÑ∞ ID Î≥µÏÇ¨
test_ID = test.pop('ID')

In [ ]:
# ÏàòÏπòÌòï Ïª¨Îüº(train)
# ['ID', 'Age', 'Work_Experience', 'Family_Size', 'Segmentation']
num_cols = ['Age', 'Work_Experience', 'Family_Size']
train = train[num_cols]
train.head(2)

   Age  Work_Experience  Family_Size
0   22              1.0          4.0
1   67              1.0          1.0

In [ ]:
# ÏàòÏπòÌòï Ïª¨Îüº(test)
test = test[num_cols]
test.head(2)

   Age  Work_Experience  Family_Size
0   36              0.0          1.0
1   37              8.0          4.0

## model ÌïôÏäµ Î∞è ÏòàÏ∏°

In [ ]:
# Î™®Îç∏ ÏÑ†ÌÉù Î∞è ÌïôÏäµ
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(train, target)
pred = rf.predict(test)
pred

array([2, 3, 3, ..., 4, 3, 1])

In [ ]:
# ÏòàÏ∏° Í≤∞Í≥º -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

submit = pd.DataFrame({
    'ID': test_ID,
    'Segmentation': pred
})
submit

          ID  Segmentation
0     458989             2
1     458994             3
2     459000             3
3     459003             3
4     459005             2
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             4
2152  467961             3
2153  467968             1

[2154 rows x 2 columns]

In [ ]:
submit.to_csv("submission.csv", index=False)
# Score: 0.30477

# üç≠ intermediate Îã®Í≥Ñ üç≠
- Î™©Ìëú: Î≤îÏ£ºÌòï(Ïπ¥ÌÖåÍ≥†Î¶¨)Îç∞Ïù¥ÌÑ∞ ÌôúÏö©ÌïòÍ∏∞

In [ ]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

## EDA

In [ ]:
# train ÏÉòÌîå ÌôïÏù∏
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,4
1,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,2
2,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,2
3,461319,Male,Yes,56,No,Artist,0.0,Average,2.0,Cat_6,3
4,460156,Male,No,32,Yes,Healthcare,1.0,Low,3.0,Cat_6,3

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB

In [ ]:
train.describe(include="O")

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    6665         6665      6665       6665           6665   6665
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     3677         3944      4249       2192           3999   4476

## Ï†ÑÏ≤òÎ¶¨

In [ ]:
# ÏõêÌï´ Ïù∏ÏΩîÎî©
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [ ]:
# type ÌôïÏù∏
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        6665 non-null   int64
 1   Age                       6665 non-null   int64
 2   Work_Experience           6665 non-null   float64
 3   Family_Size               6665 non-null   float64
 4   Segmentation              6665 non-null   int64
 5   Gender_Female             6665 non-null   uint8
 6   Gender_Male               6665 non-null   uint8
 7   Ever_Married_No           6665 non-null   uint8
 8   Ever_Married_Yes          6665 non-null   uint8
 9   Graduated_No              6665 non-null   uint8
 10  Graduated_Yes             6665 non-null   uint8
 11  Profession_Artist         6665 non-null   uint8
 12  Profession_Doctor         6665 non-null   uint8
 13  Profession_Engineer       6665 non-null   uint8
 14  Profession_Entertainment  6665 non-null   uint8
 15  Profession_Executive      6665 non-null   uint8
 16  Profession_Healthcare     6665 non-null   uint8
 17  Profession_Homemaker      6665 non-null   uint8
 18  Profession_Lawyer         6665 non-null   uint8
 19  Profession_Marketing      6665 non-null   uint8
 20  Spending_Score_Average    6665 non-null   uint8
 21  Spending_Score_High       6665 non-null   uint8
 22  Spending_Score_Low        6665 non-null   uint8
 23  Var_1_Cat_1               6665 non-null   uint8
 24  Var_1_Cat_2               6665 non-null   uint8
 25  Var_1_Cat_3               6665 non-null   uint8
 26  Var_1_Cat_4               6665 non-null   uint8
 27  Var_1_Cat_5               6665 non-null   uint8
 28  Var_1_Cat_6               6665 non-null   uint8
 29  Var_1_Cat_7               6665 non-null   uint8
dtypes: float64(2), int64(3), uint8(25)
memory usage: 423.2 KB

In [ ]:
# target(y, label) Í∞í Î≥µÏÇ¨
target = train.pop('Segmentation')
target

0       4
1       2
2       2
3       3
4       3
       ..
6660    2
6661    4
6662    4
6663    2
6664    2
Name: Segmentation, Length: 6665, dtype: int64

In [ ]:
train = train.drop("ID", axis=1)
train.head(1)

,Age,Work_Experience,Family_Size,Gender_Female,Gender_Male,Ever_Married_No,Ever_Married_Yes,Graduated_No,Graduated_Yes,Profession_Artist,...,Spending_Score_Average,Spending_Score_High,Spending_Score_Low,Var_1_Cat_1,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7
0,22,1.0,4.0,0,1,1,0,1,0,0,...,0,0,1,0,0,0,1,0,0,0

In [ ]:
# testÎç∞Ïù¥ÌÑ∞ ID Î≥µÏÇ¨
test_ID = test.pop('ID')
test_ID

0       458989
1       458994
2       459000
3       459003
4       459005
         ...
2149    467950
2150    467954
2151    467958
2152    467961
2153    467968
Name: ID, Length: 2154, dtype: int64

## model ÌïôÏäµ Î∞è ÏòàÏ∏°

In [ ]:
# Î™®Îç∏ ÏÑ†ÌÉù Î∞è ÌïôÏäµ
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0)
rf.fit(train, target)
pred = rf.predict(test)
pred

array([1, 3, 3, ..., 2, 3, 4])

In [ ]:
# ÏòàÏ∏° Í≤∞Í≥º -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

submit = pd.DataFrame({
    'ID': test_ID,
    'Segmentation': pred
})
submit

          ID  Segmentation
0     458989             1
1     458994             3
2     459000             3
3     459003             3
4     459005             1
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             2
2152  467961             3
2153  467968             4

[2154 rows x 2 columns]

In [ ]:
submit.to_csv("submission.csv", index=False)
# Score: 0.30381

# üç≠ advanced Îã®Í≥Ñ üç≠
- Î™©Ìëú: ÍµêÏ∞®Í≤ÄÏ¶ù Î∞è ÌèâÍ∞Ä ÌõÑ Ï†úÏ∂úÌïòÍ∏∞

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [ ]:
# Î≤îÏ£ºÌòï Î≥ÄÏàò
# train.select_dtypes(include='object').columns
# ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score','Var_1']
cat_cols = ['Gender', 'Ever_Married', 'Graduated', 'Profession', 'Spending_Score','Var_1']

In [ ]:
## label encoding
## Series.astype('category').cat.codes
train['Gender'] = train['Gender'].astype('category').cat.codes
train['Ever_Married'] = train['Ever_Married'].astype('category').cat.codes
train['Graduated'] = train['Graduated'].astype('category').cat.codes
train['Profession'] = train['Profession'].astype('category').cat.codes
train['Spending_Score'] = train['Spending_Score'].astype('category').cat.codes
train['Var_1'] = train['Var_1'].astype('category').cat.codes
train

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,0,22,0,5,1.0,2,4.0,3,4
1,466315,0,1,67,1,2,1.0,2,1.0,5,2
2,461735,1,1,67,1,7,0.0,1,2.0,5,2
3,461319,1,1,56,0,0,0.0,0,2.0,5,3
4,460156,1,0,32,1,5,1.0,2,3.0,5,3
...,...,...,...,...,...,...,...,...,...,...,...
6660,463002,1,1,41,1,0,0.0,1,5.0,5,2
6661,464685,1,0,35,0,4,3.0,2,4.0,3,4
6662,465406,0,0,33,1,5,1.0,2,1.0,5,4
6663,467299,0,0,27,1,5,1.0,2,4.0,5,2
6664,461879,1,1,37,1,4,0.0,0,3.0,3,2

In [ ]:
## cat.codesÏùò label Ïù∏ÏΩîÎî©ÏùÄ ABC ÏàúÎåÄÎ°ú ÎêòÎäî Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§
test['Profession'].astype('category').cat.categories

Index(['Artist', 'Doctor', 'Engineer', 'Entertainment', 'Executive',
       'Healthcare', 'Homemaker', 'Lawyer', 'Marketing'],
      dtype='object')

In [ ]:
## label encoding
test['Gender'] = test['Gender'].astype('category').cat.codes
test['Ever_Married'] = test['Ever_Married'].astype('category').cat.codes
test['Graduated'] = test['Graduated'].astype('category').cat.codes
test['Profession'] = test['Profession'].astype('category').cat.codes
test['Spending_Score'] = test['Spending_Score'].astype('category').cat.codes
test['Var_1'] = test['Var_1'].astype('category').cat.codes
test

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,0,1,36,1,2,0.0,2,1.0,5
1,458994,1,1,37,1,5,8.0,0,4.0,5
2,459000,1,1,59,0,4,11.0,1,2.0,5
3,459003,1,1,47,1,1,0.0,1,5.0,3
4,459005,1,1,61,1,1,5.0,2,3.0,5
...,...,...,...,...,...,...,...,...,...,...
2149,467950,0,0,35,1,3,1.0,2,2.0,5
2150,467954,1,0,29,0,5,9.0,2,4.0,5
2151,467958,0,0,35,1,1,1.0,2,1.0,5
2152,467961,1,1,47,1,4,1.0,1,5.0,3
2153,467968,0,0,43,1,5,9.0,2,3.0,6

In [ ]:
# ID, target Ï≤òÎ¶¨
target = train.pop('Segmentation')
train = train.drop("ID", axis=1)
test_ID = test.pop('ID')

In [ ]:
# Î™®Îç∏ ÏÑ†ÌÉù
# ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù: max_depth, n_estimators
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0, max_depth=7, n_estimators=500)

In [ ]:
# Î™®Îç∏ ÏÑ†ÌÉù
# ÌïòÏù¥ÌçºÌååÎùºÎØ∏ÌÑ∞ ÌäúÎãù: max_depth, n_estimators
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state=0, max_depth=7, n_estimators=500)

In [ ]:
# ÌïôÏäµ
rf.fit(train, target)
pred = rf.predict(test)
pred

array([1, 3, 2, ..., 1, 2, 4])

In [ ]:
# ÏòàÏ∏° Í≤∞Í≥º -> Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

submit = pd.DataFrame({
    'ID': test_ID,
    'Segmentation': pred
})
submit.to_csv("submission.csv", index=False)
# Score: 0.32046