<a href="https://colab.research.google.com/github/takuxp/bigdata_study/blob/main/type2_3rd(blank).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 작업형2
- 빅데이터 분석기사 3회 실기
- 제공된 데이터
    - train.csv
    - test.csv
- 예측할 컬럼 : TravelInsurance

### 시험에서 제공된 코드
~~~
import pandas as pd
a = pd.read_csv("train.csv")
b = pd.read_csv('test.csv')

pd.DataFrame(변수).to_csv('000000000.csv')
~~~


### 보험가입 확률을 묻는 문제
~~~
# csv 형태
# index,y_pred
# 0,0.152467
# 1,0.961511
# 2,0.151313
# 3,0.236632
...
# 494,0.121372
# 495,0.965155
# 496,0.986405

~~~

## 데이터 불러오기

In [26]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

## EDA

In [27]:
# 크기 확인
print(train.shape, test.shape)

(1490, 10) (497, 9)

In [28]:
# 샘플 확인
print(train.head())

   Unnamed: 0  Age               Employment Type GraduateOrNot  AnnualIncome  \
0         888   28  Private Sector/Self Employed           Yes       1250000
1        1308   31  Private Sector/Self Employed           Yes       1250000
2         151   29  Private Sector/Self Employed           Yes       1200000
3         396   33             Government Sector           Yes        650000
4         135   28  Private Sector/Self Employed           Yes        800000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  \
0              6                1            No                  No
1              7                1            No                  No
2              7                0            No                  No
3              6                1            No                  No
4              6                0            No                 Yes

   TravelInsurance
0                0
1                0
2                1
3                1
4                1

In [29]:
# 타입 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB

In [30]:
# 결측치 확인 train
train.isnull().sum()

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64

In [31]:
# 결측치 확인 test
test.isnull().sum()

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

In [32]:
# 기초 통계 획인
train.describe()

,Unnamed: 0,Age,AnnualIncome,FamilyMembers,ChronicDiseases,TravelInsurance
count,1490.000000,1490.000000,1.490000e+03,1490.000000,1490.000000,1490.000000
mean,992.277181,29.600000,9.310738e+05,4.755705,0.280537,0.352349
std,566.637006,2.887829,3.763057e+05,1.603613,0.449412,0.477862
min,0.000000,25.000000,3.000000e+05,2.000000,0.000000,0.000000
25%,502.250000,28.000000,6.000000e+05,4.000000,0.000000,0.000000
50%,994.500000,29.000000,9.000000e+05,5.000000,0.000000,0.000000
75%,1479.750000,32.000000,1.250000e+06,6.000000,1.000000,1.000000
max,1983.000000,35.000000,1.800000e+06,9.000000,1.000000,1.000000

In [33]:
# 기초 통계 획인 object

In [34]:
# 타겟(레이블)

## 데이터 전처리 및 피처엔지니어링

In [35]:
# 수치형 데이터와 범주형 데이터 분리

In [36]:
# 수치형 변수 스케일링
train_target = train.pop('TravelInsurance')
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [37]:
# 범주형 변수 인코딩

In [38]:
# 분리한 데이터 다시 합침

## 검증데이터 분리

In [39]:
# 검증데이터 분리
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train, train_target, test_size=0.2, random_state=2024)

## 모델 학습 및 예측

In [40]:
# 랜덤포레스트

from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model = rf.fit(X_tr, y_tr)
pred = model.predict_proba(X_val)
print(pred[:,-1])

[0.45 0.04 0.06 0.07 0.13 0.4  0.85 0.03 0.02 0.98 0.97 0.7  0.19 0.99
 0.07 0.08 0.99 0.01 0.99 0.5  0.19 0.   0.56 0.26 0.05 0.63 0.09 0.14
 0.46 0.01 0.   0.49 0.82 0.54 0.06 0.06 0.01 0.85 0.06 0.82 0.96 0.99
 0.52 0.07 0.5  0.19 0.05 0.82 0.11 0.52 0.02 0.9  0.02 0.83 0.1  0.12
 0.09 0.   0.29 0.14 0.07 0.22 0.19 0.14 0.82 0.22 0.26 0.52 0.59 0.1
 0.47 0.99 1.   0.01 1.   0.03 0.06 0.07 0.16 0.24 0.03 0.11 0.08 0.52
 0.27 0.02 0.83 1.   0.03 0.99 0.5  0.76 0.61 0.49 0.25 0.31 0.46 0.06
 0.54 0.06 0.87 0.4  0.64 0.14 0.15 0.04 0.08 0.11 0.79 0.15 0.57 0.99
 0.3  0.91 0.09 0.01 0.44 0.23 0.23 0.05 0.99 0.19 0.05 0.18 0.49 0.18
 0.1  0.32 0.06 0.99 0.75 0.3  0.14 0.2  0.29 0.01 0.95 0.89 0.1  0.08
 0.01 0.25 0.13 0.39 0.29 0.12 0.21 0.41 0.03 0.2  0.88 0.16 0.47 0.85
 0.16 0.16 0.04 0.82 0.17 0.54 0.41 0.5  0.14 0.33 0.04 0.11 0.22 0.05
 0.   0.3  0.22 0.88 0.12 0.32 0.09 0.21 0.73 0.69 0.99 0.24 0.09 0.07
 0.13 0.05 0.22 0.08 0.11 0.25 0.36 0.25 0.09 0.06 0.15 0.33 0.52 0.18
 0.05 0.75 0.15 0.13 0.97 0.96 0.99 0.24 0.43 0.14 0.62 0.12 0.23 0.24
 0.96 0.01 0.51 0.06 0.07 0.2  0.19 0.02 0.25 0.2  0.05 0.13 0.94 0.
 0.74 0.87 0.53 0.18 0.25 0.97 0.81 0.58 0.11 0.01 0.14 0.5  0.51 0.23
 0.06 0.14 0.09 0.22 0.81 0.01 0.78 0.11 0.11 0.09 0.01 0.07 0.   0.05
 0.11 0.06 0.16 0.22 0.05 0.61 0.93 0.11 0.28 0.78 0.24 0.07 0.48 0.87
 0.97 0.28 0.   0.39 0.18 0.16 0.9  0.09 0.83 0.83 0.08 0.02 0.24 0.85
 0.1  0.07 0.55 0.98 0.04 0.2  0.07 0.82 0.09 0.17 0.32 0.1  0.08 0.
 0.03 0.31 0.   0.1 ]

In [51]:
# 평가
from sklearn.metrics import roc_auc_score
roc_auc_score(y_val, pred[:,1])

0.7543961073372838

## 예측

In [55]:
# test 예측
pred = model.predict_proba(test)
print(pred[:,1])

[0.11 0.12 0.09 1.   0.06 0.99 0.34 0.09 0.7  0.02 0.03 0.05 0.25 0.13
 0.9  0.09 0.21 0.16 0.24 0.42 0.22 0.   0.98 0.92 0.02 0.99 0.97 0.1
 0.94 0.98 0.16 0.33 0.1  0.35 0.08 0.86 0.08 0.09 1.   0.04 0.01 0.
 0.13 0.07 0.96 0.1  0.99 0.14 0.03 0.06 0.02 0.13 0.49 0.46 0.19 0.04
 0.22 0.76 0.51 0.79 0.23 0.72 0.03 0.54 0.07 0.16 0.74 0.88 0.96 0.04
 0.28 0.18 0.03 1.   0.25 0.03 0.15 0.9  0.93 0.14 0.03 0.94 0.33 0.07
 0.   0.25 0.08 0.05 0.86 0.2  0.07 0.27 0.34 0.35 0.99 0.27 0.97 0.05
 0.43 0.13 0.35 0.1  1.   0.24 0.13 0.1  0.19 0.95 0.98 0.12 0.25 0.4
 0.05 0.82 0.99 0.02 0.2  0.07 0.45 0.57 0.13 0.95 0.17 0.05 0.1  0.95
 0.69 0.   0.07 0.1  0.37 0.34 0.15 0.05 0.38 0.1  0.1  0.14 0.13 1.
 0.06 0.08 0.83 0.56 0.1  0.14 0.37 0.06 0.07 0.01 0.02 0.24 0.61 0.97
 0.86 0.26 0.55 0.99 0.97 0.33 0.09 0.   1.   0.05 0.06 0.21 0.45 0.
 0.02 0.1  0.08 0.98 0.06 0.34 0.17 0.01 0.26 0.13 0.63 0.05 0.15 0.98
 0.59 0.05 0.1  0.19 0.08 0.8  0.56 0.08 0.3  0.88 0.02 0.88 0.15 0.31
 0.05 0.01 0.97 0.05 0.24 0.92 0.03 0.14 0.05 0.19 0.04 0.13 0.08 0.13
 0.05 0.19 0.29 0.01 0.98 0.17 0.   0.07 0.11 0.19 0.91 0.42 0.18 0.32
 0.29 0.21 0.21 0.29 0.26 0.14 0.27 0.29 0.14 0.36 0.13 0.16 0.02 0.96
 0.14 0.87 0.21 0.98 0.86 0.07 0.6  0.23 0.14 0.05 0.04 0.08 0.13 0.1
 0.05 0.25 0.03 0.11 0.06 0.95 0.68 0.89 0.04 0.03 0.03 0.34 0.5  0.3
 0.03 0.24 0.05 0.51 0.06 0.26 0.86 0.29 0.15 0.79 0.07 0.87 0.26 0.08
 0.03 0.37 0.85 0.11 0.3  0.93 0.41 0.22 0.34 0.19 0.07 0.06 0.02 0.08
 0.13 0.   0.22 0.04 0.07 0.01 0.53 0.14 0.06 0.04 0.3  0.09 0.47 0.04
 0.03 0.96 0.33 0.97 0.   0.33 0.77 0.28 0.1  0.36 0.04 0.12 0.14 0.21
 0.94 0.08 0.09 0.04 0.12 0.03 0.06 0.93 0.25 0.01 0.2  0.02 0.84 0.06
 0.61 0.   0.1  0.09 0.26 0.09 0.28 0.39 0.57 0.55 0.2  0.32 0.19 0.16
 1.   0.27 0.24 1.   0.79 0.35 1.   0.66 0.16 0.52 0.24 0.92 0.59 0.62
 0.05 0.21 0.14 0.51 0.02 0.97 0.17 0.13 0.36 0.22 0.29 0.42 0.4  0.1
 0.27 0.98 0.84 0.9  0.13 0.1  0.51 0.17 0.12 0.23 0.48 0.25 0.29 0.36
 0.47 0.18 0.13 0.44 0.11 0.02 0.33 0.98 0.13 1.   0.99 0.64 0.12 0.78
 0.06 0.11 0.98 0.08 0.31 0.99 0.03 1.   0.14 0.8  0.25 0.01 0.94 0.87
 0.16 0.12 0.79 0.85 0.13 0.19 0.13 0.09 0.99 0.06 0.08 0.31 0.95 0.2
 0.04 0.98 0.   0.91 0.11 0.12 0.03 0.93 0.01 0.54 0.07 0.92 0.08 0.12
 0.08 0.5  0.69 0.37 0.03 0.06 0.98 0.04 0.07 0.96 0.   0.21 0.04 0.34
 0.95 0.88 0.01 0.06 0.89 0.85 0.6  0.27 0.46 0.11 0.25 0.03 1.   0.14
 0.21 0.58 0.88 0.13 0.89 0.22 0.11 0.1  0.82 0.57 0.18 0.01 0.13 0.87
 0.47 0.03 0.1  0.94 0.09 0.99 1.  ]

In [56]:
# csv 파일1 생성 (예시와 다른 형태)
df = pd.DataFrame({
    'y_pred': pred[:,1]
})
df.to_csv('result.csv')

In [44]:
# csv 파일2 생성

In [45]:
# csv 파일1 확인

In [46]:
# csv 파일2 확인

## 체점
- 수험자는 알 수 없는 부분임

In [47]:
# y_test = pd.read_csv("y_test.csv")
# roc_auc_score(y_test, pred)

In [48]:
# 당신의 score는?: 0.7875693000693