<a href="https://colab.research.google.com/github/takuxp/bigdata_study/blob/main/5_1_type2(blank).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 데이터 불러오기

## 신용카드서비스를 떠나는 고객을 찾아라
- 나이, 급여, 결혼 상태, 신용 카드 한도, 신용 카드 카테고리 등의 컬럼이 있음
- 평가: ROC-AUC, 정확도(Accuracy), F1, 정밀도(Precision), 재현율(Recall)을 구하시오
- target : Attrition_Flag (1:이탈, 0:유지)
- csv파일 생성 : 수험번호.csv (예시 아래 참조)
~~~
CLIENTNUM,Attrition_Flag
788544108,0.633
719356008,0.123
712142733,0.355
~~~


### 평가(분류)
~~~
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# 정확도
print(accuracy_score(y_test, pred))

# 정밀도
print(precision_score(y_test, pred))

# 재현율 (민감도)
print(recall_score(y_test, pred))

# F1
print(f1_score(y_test , pred))

# roc-auc
print(roc_auc_score(y_test, pred_proba))
~~~

In [78]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
print(train.shape, test.shape)

(8101, 21) (2026, 20)

In [79]:
train.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Attrition_Flag
0,778461408,38,M,1,High School,Married,$80K - $120K,Blue,23,4,...,2,22149.0,987,21162.0,1.633,2409,36,0.800,0.045,0
1,718263108,44,F,3,Unknown,Divorced,Less than $40K,Blue,32,3,...,2,1693.0,1457,236.0,0.919,2829,42,0.615,0.861,1
2,780384483,49,M,4,Unknown,Unknown,$80K - $120K,Blue,39,2,...,2,2886.0,925,1961.0,0.946,5481,58,0.758,0.321,1
3,719592483,43,F,5,Graduate,Single,Unknown,Blue,34,6,...,3,4607.0,2440,2167.0,0.646,4825,77,0.878,0.530,0
4,771453033,47,M,3,High School,Married,$60K - $80K,Blue,35,5,...,2,17343.0,1280,16063.0,1.314,3170,57,0.629,0.074,0

In [80]:
test.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,788544108,43,F,2,High School,Single,Less than $40K,Blue,37,4,3,0,6611.0,1041,5570.0,0.744,4037,74,0.682,0.157
1,719356008,39,F,3,Graduate,Single,Less than $40K,Blue,36,4,3,4,1438.3,0,1438.3,1.022,4548,69,0.917,0.000
2,712142733,37,F,3,Post-Graduate,Married,Less than $40K,Blue,26,5,3,2,1910.0,1164,746.0,0.744,2028,39,1.053,0.609
3,789394833,47,M,2,Unknown,Divorced,$80K - $120K,Blue,37,1,2,2,21714.0,1969,19745.0,0.944,13270,104,0.625,0.091
4,742778358,44,M,1,Graduate,Single,$60K - $80K,Blue,37,3,1,4,16739.0,1229,15510.0,0.497,4014,69,0.568,0.073

In [81]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8101 entries, 0 to 8100
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 8101 non-null   int64
 1   Customer_Age              8101 non-null   int64
 2   Gender                    8101 non-null   object
 3   Dependent_count           8101 non-null   int64
 4   Education_Level           8101 non-null   object
 5   Marital_Status            8101 non-null   object
 6   Income_Category           8101 non-null   object
 7   Card_Category             8101 non-null   object
 8   Months_on_book            8101 non-null   int64
 9   Total_Relationship_Count  8101 non-null   int64
 10  Months_Inactive_12_mon    8101 non-null   int64
 11  Contacts_Count_12_mon     8101 non-null   int64
 12  Credit_Limit              8101 non-null   float64
 13  Total_Revolving_Bal       8101 non-null   int64
 14  Avg_Open_To_Buy           8101 non-null   float64
 15  Total_Amt_Chng_Q4_Q1      8101 non-null   float64
 16  Total_Trans_Amt           8101 non-null   int64
 17  Total_Trans_Ct            8101 non-null   int64
 18  Total_Ct_Chng_Q4_Q1       8101 non-null   float64
 19  Avg_Utilization_Ratio     8101 non-null   float64
 20  Attrition_Flag            8101 non-null   int64
dtypes: float64(5), int64(11), object(5)
memory usage: 1.3+ MB

In [82]:
train["Attrition_Flag"].value_counts()

Attrition_Flag
0    6815
1    1286
Name: count, dtype: int64

In [83]:
train.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
Attrition_Flag              0
dtype: int64

## 데이터 전처리 & 피처엔지니어링

In [84]:
#베이스라인 오브젝트타입 제거
cols = train.select_dtypes(include='object').columns
train = train.drop(cols, axis=1)
test = test.drop(cols, axis=1)
print(train.shape, test.shape)



#라벨
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# for col in cols:
#     train[col] = le.fit_transform(train[col])
#     test[col] = le.transform(test[col])
    

# train[cols].head()


#원핫인코딩
# train = pd.get_dummies(train, columns=cols)
# test = pd.get_dummies(test, columns=cols)

(8101, 16) (2026, 15)

In [85]:
train = train.drop('CLIENTNUM', axis=1)
test_id = test.pop('CLIENTNUM')

In [86]:
train.head(1)

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Attrition_Flag
0,38,1,23,4,3,2,22149.0,987,21162.0,1.633,2409,36,0.8,0.045,0

In [87]:
test.head(1)

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,43,2,37,4,3,0,6611.0,1041,5570.0,0.744,4037,74,0.682,0.157

## 검증 데이터 분리

In [88]:
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(
    train.drop('Attrition_Flag', axis=1),
    train['Attrition_Flag'], # target
    test_size=0.2, # test_size,
    random_state=2022 # random_state
)

In [89]:
X_tr.head()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
6806,50,1,30,1,3,2,14217.0,1816,12401.0,0.978,15554,99,0.678,0.128
5635,50,2,36,5,4,1,2428.0,2005,423.0,0.835,5170,68,0.659,0.826
2517,43,5,32,2,3,1,11508.0,0,11508.0,1.005,5242,74,0.574,0.000
2717,47,3,36,4,2,2,2926.0,0,2926.0,0.676,1304,24,0.846,0.000
3773,63,0,53,5,3,2,2271.0,1278,993.0,0.375,1550,33,0.650,0.563

## 모델 & 평가

In [90]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=2022)
model.fit(X_tr, y_tr)
pred = model.predict(X_val)
#모델 불러오기
#학습
#예측
pred

array([0, 0, 0, ..., 0, 0, 0])

In [91]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# 정확도
print(accuracy_score(y_val, pred))

# 정밀도
print(precision_score(y_val, pred))

# 재현율 (민감도)
print(recall_score(y_val, pred))

# F1
print(f1_score(y_val , pred))
#베이스라인
# 0.9679210363972857
# 0.9525862068965517
# 0.8435114503816794
# 0.8947368421052632
# 0.9919282813474208

#label
# 0.9648365206662554
# 0.9361702127659575
# 0.8396946564885496
# 0.8853118712273642

0.9666872301048736
0.9444444444444444
0.8435114503816794
0.8911290322580645

In [92]:
# roc-auc
pred_proba = model.predict_proba(X_val)
print(roc_auc_score(y_val, pred_proba[:,1]))

0.9894048160692921

## 예측 및 csv 제출

##정리

In [93]:
# 아래 코드는 실제 시험에서는 확인할 수 없는 부분입니다.
# y_test = pd.read_csv("y_test.csv")
# print(roc_auc_score(y_test, pred[:,1]))